<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm main-header">
  <div class="container">
    
    <!-- لوگو -->
    <a class="navbar-brand fw-bold text-primary d-flex align-items-center" routerLink="/">
      فروشگاه من
    </a>

    <!-- دکمه همبرگری -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- منوهای اصلی -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="/" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            صفحه اصلی
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="/products" routerLinkActive="active">
            محصولات
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="/about" routerLinkActive="active">
            درباره ما
          </a>
        </li>
      </ul>

      <!-- بخش کاربر -->
      <ng-container *ngIf="currentUser$ | async as user; else loggedOut">

        <div class="d-flex align-items-center gap-3 me-auto mt-3 mt-lg-0">

          <span class="fw-semibold">
            {{ user.username }}
          </span>
           <span class="fw-semibold">
            {{ user.phone }}
          </span>
          <span class="fw-semibold">
            {{ user.userId }}
          </span>

          <button class="btn btn-outline-danger btn-sm" (click)="logout()">
            خروج
          </button>

        </div>

      </ng-container>

      <ng-template #loggedOut>
        <div class="d-flex align-items-center gap-2 me-auto mt-3 mt-lg-0">
          <a routerLink="/login" class="btn btn-link text-decoration-none btn-login">
            ورود
          </a>
          <a routerLink="/register" class="btn btn-primary btn-register px-4">
            ثبت‌نام
          </a>
        </div>
      </ng-template>

    </div>
  </div>
</nav>
