@if (isOpen) {
<div class="modal-backdrop" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>{{ title }}</h3>
      <button class="close-btn" (click)="closeModal()">&times;</button>
    </div>
    
    <div class="modal-body">
      <!-- محتوای متغیر اینجا قرار می‌گیرد -->
      <ng-content></ng-content> 
    </div>
    
    <div class="modal-footer">
      <ng-content select="[footer]"></ng-content>
      <button class="btn-close-default" (click)="closeModal()">بستن</button>
    </div>
  </div>
</div>
}
